@import url("https://fonts.googleapis.com/css?family=Mukta");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  min-height: 550px;
  background-image: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Yellow-Desk-Simple-Background-Image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  /* overflow-y: hidden; */
}

.todo {
  display: flex;
  flex-direction: column;
  border-color: antiquewhite;
  border-style: solid;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  /* top: 100px;
  transform: translateY(-50%); */
  /* text-align: center; */
  max-width: 700px;
  right: 0;
  left: 0;

  /* height: 100%; */
  background-color: #f4f1e0;
  color: rgb(7, 7, 7);
  font-family: "Poppins", sans-serif;
}

header,
form {
  display: flex;
  justify-content: center;
  min-height: 5vh;
  min-width: 10vh;
  text-align: center;
  color: crimson;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}

form input,
form button {
  padding: 1px;
  font-size: 1rem;
  border: none;
  background: white;
}
form button {
  color: orange;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button :hover {
  background: white;
  color: crimson;
}

.content {
  position: relative;
  margin-top: 10px;
  height: fit-content;
  text-align: left;
  color: #144955;
}
#demo {
  height: 350px;
  overflow-y: scroll;
  margin: 10px 0px;
}
.item {
  display: flex;
  /* flex-direction:row; */
  justify-content: space-between;
}

ul {
  list-style-type: none; /* get rid of bullet points on side of list items */
}
.checkbox {
  margin-right: 10px;
}
.checkboxcross {
  text-decoration: line-through;
}

.deletebtn {
  margin-right: 10px;
}
@media screen and (max-width: 700px) {
  .todo {
    background-color: olive;
  }
}
.btn {
  padding: 0;
  border: none;
  background: none;
  transition: all 0.3s ease;
  outline: none;
}

.btn :hover{

  background: white;
  color: crimson;
  
}

.highlight, .highlight_stay{
  color:red;
  text-decoration: line-through;
}

